<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancelChanges()">Cancelar</ion-button>
    </ion-buttons>
    <ion-title class="text-center">{{ title }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirmChanges()">Guardar</ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar
      (ionInput)="searchbarInput($event.target.value ?? '')"
      debounce="600"
      placeholder="Buscar..."
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content color="light" class="ion-padding">
  <!-- Verificar si no hay resultados -->
  <ng-container *ngIf="!noResults; else noResultsTemplate">
    <ion-list id="modal-list" [inset]="true">
      <ion-item *ngFor="let item of filteredItems; trackBy: trackItems" style="width: 100%;">
        <ion-label style="flex: 1;">{{ item.text }}</ion-label>
        <ion-checkbox
          style="flex: 0;"
          [value]="item.value"
          [checked]="isChecked(item.value)"
          (ionChange)="checkboxChange($event)"
        ></ion-checkbox>
      </ion-item>
    </ion-list>
  </ng-container>

  <!-- Plantilla para "No hay resultados" -->
  <ng-template #noResultsTemplate>
    <ion-list>
      <ion-item>
        <ion-label color="medium" class="ion-text-center">No hay resultados</ion-label>
      </ion-item>
    </ion-list>
  </ng-template>
</ion-content>
